@model List<OrderListViewModel>

@{
    ViewData["Title"] = "Order Menu";
}

<div class="d-flex flex-column" style="font-size:1.5rem;">
    <h2 class="text-warning" style="font-size:1.5em;">@ViewData["Title"]</h2><br />
    <ul>
        @foreach (var orderInfo in Model)
        {
            <li><a asp-action="Details" asp-controller="Order" asp-route-id="@orderInfo.Id">@orderInfo.Id</a></li>
            <li><b>Pizza Name :</b> @orderInfo.PizzaName</li>
            <li><b>User Full Name :</b> @orderInfo.UserFullName</li>
            <li><a class="text-danger" asp-action="Delete" asp-route-id="@orderInfo.Id">Delete</a></li>
            <li><a class="text-warning" asp-action="Edit" asp-route-id="@orderInfo.Id">Edit</a></li>
            <br />
        }
    </ul>
    <h4>@ViewData["Message"]</h4>
    <h4>@ViewData["FirstUser"]</h4>
</div>