@model Order

<h2>Details :</h2>

<b>Customer Full Name</b>
<p>@Model.User.FullName</p>

<b>Phone Number</b>
<p>@Model.User.PhoneNumber</p>

<b>Address</b>
<p>@Model.User.Address</p>
<br />


<b>Pizza Name</b>
<p>@Model.Pizza.Name</p>

<b>Pizza Price</b>
<p>@Model.Pizza.Price</p>

<b>Promotion</b>
<p>@(Model.Pizza.IsOnPromotion ? "Yes" : "No")</p>
<br />


<b>Order Id</b>
<p>@Model.Id</p>

<b>Payment method</b>
<p>@Model.PaymentMethod</p>

<b>Delivered</b>
<p>@(Model.IsDelivered ? "Yes" : "No")</p>
<br />