@model List<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<h2 class="text-center text-warning">List of Orders</h2>
<br />


<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Delivered</th>
            <th scope="col">Full Name</th>
            <th scope="col">Total Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@(order.IsDelivered ? "Yes" : "No")</td>
                <td>@order.FullName</td>
                <td>@order.TotalPrice</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Order" asp-action="Details" asp-route-id="@order.OrderId">Details</a>
                    <a class="btn btn-warning" asp-controller="Order" asp-action="Edit" asp-route-id="@order.OrderId">Edit</a>
                    <a class="btn btn-danger" asp-controller="Order" asp-action="Delete" asp-route-id="@order.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />


<a class="btn btn-warning" asp-controller="Order" asp-action="Create">
    Create New Order
</a>

