@model User


@using (@Html.BeginForm("Create", "User", FormMethod.Post))
{
    @Html.LabelFor(x=>x.FirstName)
    @Html.TextBoxFor(x=>x.FirstName)
    @Html.ValidationMessageFor(x=>x.FirstName,null, new {@class="text-danger"})
    <br />

    @Html.LabelFor(x=>x.LastName)
    @Html.TextBoxFor(x=>x.LastName)
    @Html.ValidationMessageFor(x=>x.LastName)
    <br />

    @Html.LabelFor(x=>x.Address)
    @Html.TextBoxFor(x=>x.Address)
    @Html.ValidationMessageFor(x=>x.Address)

    <br />

    @Html.LabelFor(x=>x.PhoneNumber)
    @Html.TextBoxFor(x=>x.PhoneNumber)
    @Html.ValidationMessageFor(x=>x.PhoneNumber)

    <br />


    <button type="submit">Create User</button>
}

